.icon-cart{
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-image: url("../image/001-shopping-cart.svg");
    background-repeat: no-repeat, repeat;
    background-size: 48px;
    /* padding: 12px 16px; */
}
