.btn-checkout {
  align-items: center;
  border: 2px black solid;
  color: black;
  font-size: 22px;
  padding: 20px;
  margin-bottom: 60px;
  margin-left: 60px;
  text-decoration: none;
  width: 170px;
}

.btn-checkout:hover {
  transform: scale(1.1);
}


.Cart-Product-List {
  display: flex;
  flex-direction: column;
}

.list-itens {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.total-price {
  font-size: 20px;
  height: 60px;
  margin-left: 60px;
  margin-top: 60px;
}
