.categories-methods{
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.04);
  cursor: pointer;
  display: flex;
  height: 77px;
  justify-content: center;
  list-style: none;
  width: 343px;
}
.categories{
  background: #fff;
  display: flex;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
}
.label-categories{
  color: #0A1034;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 600; 
  line-height: 21px;
}


.categories-methods input[type="radio"]:checked + label {
    background-color: #594CA9; 
    color: #fff;
}