.Categories label {
  border-radius: 20px;
  display: flex;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.input-radio {
  text-align: center;
}

.Categories label:hover {
  background: cornflowerblue;
  color: white;
}

input[ type = "radio" ] {
  display: none;
}

input[ type = "radio" ]:checked + label {
  background: rgb(73, 73, 184);
  color: white;
}
