.MainScreen {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.topo {
  justify-content: center;
  background: gray;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15vh;
}

.search-bar {
  width: 50%;
}

.Categories {
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
}
