.MainScreen {
  display: flex;
  flex-flow: row wrap;
}

.topo {
  align-items: center;
  background: gray;
  display: flex;
  flex-direction: row;
  height: 15vh;
  justify-content: center;
  width: 100%;
}

.search-bar {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 80%;
}

.Categories {
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  max-height: 800px;
  min-width: 200px;
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
  width: 20%;
}
