.payment-method {
  display: flex;
  flex-direction: row;
}

.payment-option {
  margin: 0 30px;
}

.method {
  align-items: center;
  display: flex;
  margin-right: 15px;
}

.method-image {
  width: 50px;
}

.credit-card {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
