.product {
  padding: 0 50px;
}

.product-header {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0 10px;
}

.product-details {
  display: flex;
  justify-content: space-around;
}

.product-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 20px;
}

.product-img {
  border: 2px solid black;
  margin-bottom: 20px;
  width: 150px;
}

.product-specifications {
  border: 2px solid black;
  margin-bottom: 20px;
  min-width: 50%;
  padding: 3px;
}

.freeShip {
  background: lightgray;
  color: dodgerblue;
  padding: 10px;
}

.product-qtd {
  display: flex;
  justify-content: flex-start;
}

.buttonAdd {
  border: 2px black solid;
  font-size: 21px;
  height: 60px;
  width: auto;
}
