
h3, p{
  margin: 0;
}


button:active , button:focus {
  border: none;
}

.container-product-card {
  margin: 0 0 20px 20px;
}
.info:hover{
  text-decoration: underline;
}

.info-product{
  align-items: center;
  display: flex;
  justify-content: center;
}
.img-product{
  height: 120px;
}
.card-product{
  align-items: center;
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 25.8683px 38.8024px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  height: 270px;
  justify-content: space-around;
  width: 270px;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQ.woff2) format('woff2');
}
  
.title{
  color: #0A1034;
  display: flex;
  flex-wrap: wrap;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  margin-left: -70px;
  margin-top: 10px;
  width: 180px;
}
.content-value{
  display: flex;
}
.value{
  color: #594CA9;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  margin-left: -125px;
  margin-top: 5px;
}


.buttonRemoveCart {
  align-items: center;
  background: #fb4e4e;
  border-radius: 0 0 10px 10px;
  bottom: 0;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  height: 44.25px;
  justify-content: center;
  line-height: 12px;
  margin-bottom: -6px;
  opacity: 0;
  text-transform: uppercase;
  width: 269px;
}

.card-product > .button-add-cart{
  align-self: flex-end;
}
.button-add-cart{
  align-items: center;
  background: #594CA9;
  border-radius: 0 0 10px 10px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-family: Roboto Condensed;
  font-size: 12px;
  font-weight: bold;
  height: 44.25px;
  justify-content: center;
  line-height: 12px;
  margin-bottom: -6px;
  opacity: 0;
  text-transform: uppercase;
  width: 269px;
}

.border:hover > .buttonRemoveCart {
  animation-duration: 700ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: fadeInUp;
}

.border {
  border: 2px solid #433885;
  box-sizing: border-box;
}
.card-product:hover > .button-add-cart{
  animation-duration: 700ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: fadeInUp;
}

.div-qtd {
  align-items: center;
  align-self: flex-start;
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
  padding: 5px 0;
  position: absolute;
}

.div-qtd button {
  background: #433885;
  border-radius: 0 5px 5px 0;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-right: 0;
  margin-top: 3px;
  padding: 0 6px 3px;
  transition: all 300ms;
}

.div-qtd button:hover {
  opacity: 0.8;
}

.info {
  align-self: flex-end;
  background: lightgray;
  color: black;
  padding: 2px 4px;
  position: absolute;
  text-align: center;
  text-decoration: none;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
