.ProductList {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  max-height: 800px;
  justify-content: center;
  overflow: scroll;
  overflow-x: hidden;
  min-width: 350px;
  width: 78%;
}
