h3 , p {
  margin: 0;
}

button:active , button:focus {
  border: none;
}

.ProductList .content-center {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.img-product {
  bottom: 76px;
  height: 120px;
  right: 76px;
}

.card-product {
  align-items: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0 25.868px 38.802px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  height: 270px;
  justify-content: space-around;
  width: 270px;
}

.title {
  color: #0a1034;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  left: 20px;
  line-height: 21px;
  margin-top: 10px;
}

.value {
  color: #594ca9;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  margin-top: 5px;
}

.show-btn-remove {
  align-items: flex-start;
  background: #433885;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.buttonRemoveCart {
  align-items: center;
  align-self: flex-start;
  background: #433885;
  border: 0;
  border-radius: 0 0 0 8px;
  bottom: 0;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  height: 44.25px;
  justify-content: center;
  line-height: 12px;
  text-transform: uppercase;
  width: 50%;
}

.div-qtd {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  width: 50%;
}

.buttonAddCart {
  align-items: center;
  align-self: flex-start;
  background: #433885;
  border: 0;
  border-radius: 0 0 8px 8px;
  bottom: 0;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  height: 44.25px;
  justify-content: center;
  line-height: 12px;
  margin-bottom: -6px;
  opacity: 0;
  text-transform: uppercase;
  width: 100%;
}

.border:hover > .buttonRemoveCart {
  animation-duration: 700ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: fadeInUp;
}

.border {
  border: 2px solid #433885;
  box-sizing: border-box;
}

.card-product:hover > .buttonAddCart {
  animation-duration: 700ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: fadeInUp;
}

.div-qtd button {
  background: cornflowerblue;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  height: 105%;
  margin-top: 3px;
  transition: all 300ms;
  width: 33%;
}

.div-qtd .left {
  border-radius: 0 0 0 8px;
}

.div-qtd .right {
  border-radius: 0 0 8px;
  margin-right: -2px;
}

.div-qtd button:hover {
  opacity: 0.8;
}

.info {
  align-self: flex-end;
  background: lightgray;
  color: black;
  padding: 2px 4px;
  text-align: center;
  text-decoration: none;
}

.text-qtd {
  align-items: center;
  background: lightskyblue;
  display: flex;
  flex-direction: column;
  height: 105%;
  justify-content: center;
  margin-top: 3px;
  width: 40%;
}

@keyframes fadeInUp {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
