.ProductList {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 800px;
  min-width: 350px;
  overflow: scroll;
  overflow-x: hidden;
  width: 78%;
}

.not-search {
  align-items: center;
  display: flex;
  font-size: 40px;
  font-weight: 700;
  margin-left: 30%;
}
