.input-search{
  width: 927px;
  height: 53px;
  border-radius: 100px;
  padding-left: 15px;
}

.input-search::placeholder{
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #594CA9;
  opacity: 1;
  vertical-align: center;
}