.input-div {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.search {
  background-image: url('../image/002-search.svg');
  background-position-x: 20px;
  background-position-y: 5px;
  background-repeat: no-repeat;
  background-size: 30px;
  border-radius: 100px;
  font-size: 20px;
  height: 2em;
  margin-bottom: 2em;
  margin-top: 2em;
  padding-left: 80px;
  width: 800px;
}
