.icon-cart {
  border: none;
  cursor: pointer;
  height: 45px;
  width: 45px;
}

.content {
  height: 45px;
  position: relative;
  width: 45px;
}

.number-cart {
  background-color: yellow;
  border-radius: 100%;
  bottom: 0;
  height: 20px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 20px;
}
